

/*@font-face {
    font-family: 'Levavot';
    src: url('fonts/levavot.ttf');
}

@font-face {
    font-family: 'Miri';
    src: url('fonts/Miriwin.ttf');
}*/
 * {
		box-sizing: border-box;
}
body {
	background-image: url("../pics/main_background_5.gif");
    /*padding-top: 12px;*/
    color: #FF69B4;
    font-family: 'OpenSans';
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
	color: #FF69B4;
    font-family: 'OpenSans';
    padding:30px;    
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #FF69B4;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FF55AA;
}
.navbar-default .navbar-nav > li {
	border-left:2px solid #FF69B4;
}

.navbar-brand img {
	height:100%;
	width: auto;
}

.bold {
	font-weight: bold;
}

.visible-xs-inline {
    display: inline-block; !important
}

nav.main {
	background-color:white;
	border-bottom: 2px solid;
}

.navbar-brand, .navbar > .container-fluid .navbar-brand {
	/*background-image: url("../pics/logo.jpg");
	background-size: contain;
	min-height: 15vh;*/
	padding:0;
	height: 12vh;
	max-height: 80px;
	min-height: 50px;
	width:auto;
    background-color: white;
    margin-right:0;
}



.logo-container {
	margin: 0;
	background-color: white;
	position: relative;
}
.logopic {
    max-height: 100%;
    margin: auto;
    width: auto;
}

.profile {
	position:absolute;
	background-color: #FF69B4;
	height:2%;
	bottom:0;
	width:100%;
}

.construction-text{
	
}

.levavot {
	font-family: 'Levavot';
	color: red;
}
.picsContainer {
	height: 35vh;
	width:90%;
	margin: auto;
	margin-bottom: 10px;
}
.picsContainer img {
    display: none;
    margin-bottom: 3vh;
}

h2 {
	font-size: 21px;
}
/* For desktop: */
@media only screen and (min-width: 768px) {
   
	body {
		/*padding-top: 40px;*/
		padding-top:0;
		font-size:2vw;
	}

	h2 {
		font-size: 30px;
	}
	
	.visible-xs-inline {
        display: none; !important
    }

	.picsContainer {
		/*height: 80vh;*/
		margin-top:10vh;	
		margin-right: -11%;	
/*		position: relative;
		top: 50%;
		transform: translateY(50%);*/
	}

	#bs-example-navbar-collapse-1 > ul li:last-child {
		border-left:none;
	}

	.container > .navbar-header {
		margin-left:10%;
	}
	.picsContainer img {
    	max-width: 40vw;
	}

	.children{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.logo {
		height: 20vh;
    	background-color: white;
	}

	.logopic{
		margin-right:-18%;
		height:100%;
	}
}

@media only screen and (min-width: 1664px) {
	.container > .navbar-header {
		margin-left:9%;
	}
}
/*@keyframes slidy {
0% { right: 0%; }
20% { right: 0%; }
25% { right: -100%; }
45% { right: -100%; }
50% { right: -200%; }
70% { right: -200%; }
75% { right: -300%; }
100% { right: -300%; }
}
 
div#slider { overflow: hidden;}
div#slider figure img { width: 25%; float: left; }
div#slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  max-height: 85vh;
  animation: 20s slidy infinite; 
}*/



/*#mycarousel {
	margin-bottom:10vh;
}
.carousel-inner {
	padding-left:10vw;
	padding-right: 10vw;

}

.carousel-inner .item {
	height: 85vh;
	width: 50vh;
	margin: auto;
}

.carousel-inner .item > img {
	display: block;
    max-height: 300px;
    height:100%;
    width: auto;
}*/


