.picInCarousel.ng-enter, 
.picInCarousel.ng-leave
{ 
/*    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.picInCarousel
{ 
/*    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;*/
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    left: 0;
} 
.picInCarousel.ng-enter {
	transition-delay: 400ms;
	top:-200px;
}
.picInCarousel.ng-enter.ng-enter-active, 
.picInCarousel.ng-leave {
    opacity: 1;
    top: 0;
}

.picInCarousel.ng-leave.ng-leave-active,
.picInCarousel.ng-enter {
    opacity: 0;
    top: 150px;
}

.navbar-brand img {
    height: 90%;
    display: inline;
    width: 22%;
    position: relative;
    top: 5px;
    margin-left:44px;
}

@media (max-width: 993px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
:root:before {
	  content: url("/pics/beforeAfter/benoa_bedroom.jpg")
	           url("/pics/beforeAfter/benoa_dining.jpg")
	           url("/pics/beforeAfter/benoa_kitchen.jpg")
	           
	           url("/pics/beforeAfter/moran_vegal_bedroom.jpg")
	           url("/pics/beforeAfter/moran_vegal_knisa.jpg")
	           url("/pics/beforeAfter/moran_vegal_saloon.jpg")
	           url("/pics/beforeAfter/moran_vegal_shower.jpg")
	           
	           url("/pics/beforeAfter/nir_vetali_bedroom.jpg")
	           url("/pics/beforeAfter/nir_vetali_dining.jpg")
	           url("/pics/beforeAfter/nir_vetali_kids.jpg")
	           url("/pics/beforeAfter/nir_vetali_kids_playroom.jpg")
	           url("/pics/beforeAfter/nir_vetali_knisa2.jpg")
	           url("/pics/beforeAfter/nir_vetali_knisa3.jpg")
	           url("/pics/beforeAfter/nir_vetali_tv.jpg")
	           
	           url("/pics/myWork/moranAndGal/chadar_sheina_moran_vegal.jpg")
	           url("/pics/myWork/moranAndGal/hacheder_shel_maya.jpg")
	           url("/pics/myWork/moranAndGal/pinat_avoda_basalon.jpg")
	           url("/pics/myWork/moranAndGal/salon_moran_vegal.jpg")
	           url("/pics/myWork/moranAndGal/salon_moran_vegal2.jpg")
	           url("/pics/myWork/moranAndGal/salon_vepinat_avoda1.jpg")
	           url("/pics/myWork/moranAndGal/pinat_avoda.jpg")
	                      
	           url("/pics/myWork/nirAndTali/chadar_mischakim.jpg")
	           url("/pics/myWork/nirAndTali/chadar_sheina_nir_vetali.jpg")
	           url("/pics/myWork/nirAndTali/chadar_sheina_yeladim.jpg")
	           url("/pics/myWork/nirAndTali/nir_vetali_knisa.jpg")
	           url("/pics/myWork/nirAndTali/pinat_ochel_nir_vetali.jpg")
	           url("/pics/myWork/nirAndTali/salon_nir_vetali1.jpg")
	           url("/pics/myWork/nirAndTali/salon_nir_vetali_2.jpg")
	           
	           url("/pics/myWork/benAndNoa/ben_ve_noa_amir1.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_amir_2.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_pinat_ochel.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_saloon.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_salon.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_tamar_2.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_tamar_1.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_kitchen.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_alon.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_bedroom.jpg")
	           
	           url("/pics/myWork/giliMedical/office_styling.jpg")
	           url("/pics/myWork/hagarAndYoav/bathroom.jpg")

	           url("/pics/about/noa.jpg")
			   url("/pics/home/kitchen.jpg")
			   url("/pics/home/gameroom.jpg")
	           url("/pics/home/salon.jpg")
	           url("/pics/home/sleepingroom.jpg");



	           
	  /* partial fallback */
	  background-image: url("/pics/beforeAfter/benoa_bedroom.jpg");
	  visibility: hidden;
	  position: absolute;
	  left: -999em;
	  display: none;
	}
}
/*@font-face {
    font-family: 'Levavot';
    src: url('fonts/levavot.ttf');
}

@font-face {
    font-family: 'Miri';
    src: url('fonts/Miriwin.ttf');
}*/

.title {
	text-decoration: underline;
}
.pageTitel {
	text-align: center;
	text-decoration: underline;
}
.navbar-default {
	background-color: white;
}

.navbar-default .navbar-brand {
	padding: 0;
	margin:  0 10px;
}

/*.navbar-brand img{
	height: 58%;
}*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
    color: #FF69B4;
    font-family: 'OpenSans';
    padding: 30px;
    font-size: 9vw;
    text-align: center;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #FF69B4;
}


 * {
	box-sizing: border-box;
}

body {
	background-image: url("../pics/main_background_5.gif");
    /*padding-top: 12px;*/
    color: #FF69B4;
    font-family: 'OpenSans';
}

#whoAmIPic {
	float:left;
	width: 100%;
	border: 1px solid;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 20px;

	margin-bottom: 7px;
}

.picsCarouselContainer {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.housePicContainer {
  width: 100%;
}

.carouselButton {
  /*height: 10%;*/
  align-self: center;
  cursor: pointer;
}
.thumbnailsWrapper {
  display: flex;
  width:100%;
  justify-content: space-around;
  align-items: center;
}

.thumbnailsWrapper img.active{
  border: 2px solid #FF69B4;
}
.picInCarousel {
  width: 100px;
  height: 50px;
  border: 2px solid white;
}

.aboutMainText {
	font-size: 4vw;
	font-weight: bold;
}

@media only screen and (min-width: 760px) {
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
	    font-size: 2vw;
	}

	.aboutMainText {
		font-size: 2vw;
		font-weight: initial;
	}	
	#whoAmIPic {
		width: 10vw;
	}
}
#processListTitle {
	text-decoration: underline;
}

#processList {
	list-style: decimal;
}




.mainText {
	font-size: 2.4vw;
}


@media only screen and (min-width: 1100px) {

	:root:before {
	  content: url("/pics/beforeAfter/benoa_bedroom.jpg")
	           url("/pics/beforeAfter/benoa_dining.jpg")
	           url("/pics/beforeAfter/benoa_kitchen.jpg")
	           
	           url("/pics/beforeAfter/moran_vegal_bedroom.jpg")
	           url("/pics/beforeAfter/moran_vegal_knisa.jpg")
	           url("/pics/beforeAfter/moran_vegal_saloon.jpg")
	           url("/pics/beforeAfter/moran_vegal_shower.jpg")
	           
	           url("/pics/beforeAfter/nir_vetali_bedroom.jpg")
	           url("/pics/beforeAfter/nir_vetali_dining.jpg")
	           url("/pics/beforeAfter/nir_vetali_kids.jpg")
	           url("/pics/beforeAfter/nir_vetali_kids_playroom.jpg")
	           url("/pics/beforeAfter/nir_vetali_knisa2.jpg")
	           url("/pics/beforeAfter/nir_vetali_knisa3.jpg")
	           url("/pics/beforeAfter/nir_vetali_tv.jpg")
	           
	           url("/pics/myWork/moranAndGal/chadar_sheina_moran_vegal.jpg")
	           url("/pics/myWork/moranAndGal/hacheder_shel_maya.jpg")
	           url("/pics/myWork/moranAndGal/pinat_avoda_basalon.jpg")
	           url("/pics/myWork/moranAndGal/salon_moran_vegal.jpg")
	           url("/pics/myWork/moranAndGal/salon_moran_vegal2.jpg")
	           url("/pics/myWork/moranAndGal/salon_vepinat_avoda1.jpg")
	           url("/pics/myWork/moranAndGal/pinat_avoda.jpg")
	                      
	           url("/pics/myWork/nirAndTali/chadar_mischakim.jpg")
	           url("/pics/myWork/nirAndTali/chadar_sheina_nir_vetali.jpg")
	           url("/pics/myWork/nirAndTali/chadar_sheina_yeladim.jpg")
	           url("/pics/myWork/nirAndTali/nir_vetali_knisa.jpg")
	           url("/pics/myWork/nirAndTali/pinat_ochel_nir_vetali.jpg")
	           url("/pics/myWork/nirAndTali/salon_nir_vetali1.jpg")
	           url("/pics/myWork/nirAndTali/salon_nir_vetali_2.jpg")
	           url("pics/myWork/nirAndTali/salon_nir_vetali1-min.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_amir1.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_amir_2.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_pinat_ochel.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_saloon.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_salon.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_tamar_2.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_tamar_1.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_kitchen.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_alon.jpg")
	           url("/pics/myWork/benAndNoa/ben_ve_noa_bedroom.jpg")
	           
	           url("/pics/myWork/giliMedical/office_styling.jpg")
	           url("/pics/myWork/hagarAndYoav/bathroom.jpg")

	           url("/pics/about/noa.jpg");


	           
	  /* partial fallback */
	  background-image: url("/pics/beforeAfter/benoa_bedroom.jpg");
	  visibility: hidden;
	  position: absolute;
	  left: -999em;
	  display: none;
	}

	.picInCarousel {
	  width: 200px;
	  height: 100px;
	}


	.navbar-brand img {
	    height: 90%;
	    display: inline;
	    width: auto;
	    position: relative;
	    top: 13px;
	    margin-left:44px;
	}

	nav.main {
		border-top: 2px solid;
	}
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FF55AA;
}
.navbar-default .navbar-nav > li {
	border-left:2px solid #FF69B4;
}


.bold {
	font-weight: bold;
}

.visible-xs-inline {
    display: inline-block; !important
}

nav.main {
	background-color:white;
	border-bottom: 2px solid;
}

.navbar-brand, .navbar > .container-fluid .navbar-brand {
	/*background-image: url("../pics/logo.jpg");
	background-size: contain;
	min-height: 15vh;*/
	padding:0;
	height: 12vh;
	max-height: 80px;
	min-height: 50px;
	width:auto;
    background-color: white;
    margin-right:0;
}



.logo-container {
	margin: 0;
	background-color: white;
	position: relative;
}
.logopic {
    max-height: 100%;
    margin: auto;
    width: auto;
}

.profile {
	position:absolute;
	background-color: #FF69B4;
	height:2%;
	bottom:0;
	width:100%;
}

.levavot {
	font-family: 'Levavot';
	color: red;
}
.picsContainer {
	height: 35vh;
	width:90%;
	margin: auto;
	margin-bottom: 10px;
}
.picsContainer img {
    display: none;
    margin-bottom: 3vh;
}

h2 {
	font-size: 21px;
}



/* For desktop: */
@media only screen and (min-width: 768px) {
   
	body {
		/*padding-top: 40px;*/
		padding-top:0;
		/*font-size:2vw;*/
	}

	h2 {
		font-size: 30px;
	}
	
	.visible-xs-inline {
        display: none; !important
    }

    #whoAmIPic {
    	width: 17vw;
    	border: 3px solid;
    	box-shadow: 10px 10px 5px #888888;
    }

	.picsContainer {
		/*height: 80vh;*/
		margin-top:10vh;	
		margin-right: -11%;	
/*		position: relative;
		top: 50%;
		transform: translateY(50%);*/
	}

	#bs-example-navbar-collapse-1 > ul li:last-child {
		border-left:none;
	}

	/*.container > .navbar-header {
		margin-left:10%;
	}*/
	.picsContainer img {
    	max-width: 40vw;
	}

	.children{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.logo {
		height: 20vh;
    	background-color: white;
	}

	.logopic{
		margin-right:-18%;
		height:100%;
	}

	.picsWrapper {
	  display: flex; /* or inline-flex */
	  flex-direction: row;
	  align-items: stretch;
	  justify-content: center;
	  justify-content: space-between;
	  width: 100%;
	  position: relative;
	}

	.picWrapper {
		border: 2px solid #FF69B4;
		margin-bottom: 10px;
	  	/*flex-grow: 1;  default 0 */
	  	width:35%;
	  	max-width: 50%;
	  	position: relative;
	  	display: flex;
	  	align-items: center;
	  	justify-content: space-around;
	  	margin-bottom: 10vh;
	  	text-overflow: ellipsis;
	  	flex-direction: column;
	  	
	}

	.picWrapper img{
		width:75%;
	}
}

/*@media only screen and (min-width: 1664px) {
	.container > .navbar-header {
		margin-left:9%;
	}
}*/




