.picInCarousel.ng-enter, 
.picInCarousel.ng-leave
{
    position: relative;
    display: block;
} 

.picInCarousel
{
    position: relative;
    left: 0;
} 
.picInCarousel.ng-enter {
	/*transition-delay: 400ms;*/
	/*top:-200px;*/
}
.picInCarousel.ng-enter.ng-enter-active, 
.picInCarousel.ng-leave {
    opacity: 1;
    top: 0;
}

.picInCarousel.ng-leave.ng-leave-active,
.picInCarousel.ng-enter {
    opacity: 0;
    /*top: 150px;*/
}
.contact-title {
	color: #fff;
	background-color: #FF69B4;
	font-style: 16px;
}

.navbar-brand img {
    height: 90%;
    display: inline;
    width: 22%;
    position: relative;
    top: 5px;
    margin-left:44px;
}

@media (max-width: 993px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
:root:before {
	  content:  url("/pics/home/1.jpg")
	  url("/pics/home/2.jpg")
	  url("/pics/home/3.jpg")
	  url("/pics/home/4.jpg")
	  url("/pics/home/5.jpg")
	  url("/pics/home/6.jpg")
	  url("/pics/beforeAfter/1.jpg")
	           url("/pics/beforeAfter/2.jpg")
	           url("/pics/beforeAfter/3.jpg")
	           
	           url("/pics/beforeAfter/4.jpg")
	           url("/pics/beforeAfter/5.jpg")
               /*url("/pics/beforeAfter/6.jpg")*/
               /*url("/pics/beforeAfter/7.jpg")*/

               /*url("/pics/beforeAfter/8.jpg")*/
               /*url("/pics/beforeAfter/9.jpg")*/
               /*url("/pics/beforeAfter/10.jpg")*/
               /*url("/pics/beforeAfter/11.jpg")*/
               /*url("/pics/beforeAfter/12.jpg")*/
               /*url("/pics/beforeAfter/13.jpg")*/
			   /*url("/pics/beforeAfter/sy1.jpg")*/
			   /*url("/pics/beforeAfter/sy2.jpg")*/
			   /*url("/pics/beforeAfter/sy3.jpg")*/

	  url("/pics/myWork/kids/kids_afternoonspace.jpg")
	  url("/pics/myWork/kids/kidsroom_alonveori.jpg")
	  url("/pics/myWork/kids/kidsroom_amir.jpg")
	  url("/pics/myWork/kids/kidsroom_maya.jpg")
	  url("/pics/myWork/kids/kidsroom_playroom.jpg")
	  /*url("/pics/myWork/kids/kidsroom_shira.jpg")*/
	  /*url("/pics/myWork/kids/kidsroom_tamar.jpg")*/
	  /*url("/pics/myWork/kids/kidsroom_yuvalvedaniel.jpg")*/

	  /*url("/pics/myWork/kitchen/dining_benoa.jpg")*/
	  /*url("/pics/myWork/kitchen/dining_liavedaniel1.jpg")*/
	  /*url("/pics/myWork/kitchen/dining_liavedaniel2.jpg")*/
	  /*url("/pics/myWork/kitchen/dining_liavedaniel3.jpg")*/
	  /*url("/pics/myWork/kitchen/dining_nirvetali.jpg")*/
	  /*url("/pics/myWork/kitchen/kitchen_benoa.jpg")*/

	  /*url("/pics/myWork/office/office_talyanagar1.jpg")*/
	  /*url("/pics/myWork/office/office_talyanagar2.jpg")*/
	  /*url("/pics/myWork/office/office_talyanagar3.jpg")*/
	  /*url("/pics/myWork/office/office_gilimedical.jpg")*/
	  /*url("/pics/myWork/office/office_liavelanuel.jpg")*/

	  /*url("/pics/myWork/salons/saloon_benoa.jpg")*/
	  /*url("/pics/myWork/salons/saloon_benoa2.jpg")*/
	  /*url("/pics/myWork/salons/saloon_liavelanuel1.jpg")*/
	  /*url("/pics/myWork/salons/saloon_liavelanuel2.jpg")*/
	  /*url("/pics/myWork/salons/saloon_moranvegal1.jpg")*/
	  /*url("/pics/myWork/salons/saloon_moranvegal2.jpg")*/
	  /*url("/pics/myWork/salons/saloon_moranvegal3.jpg")*/
	  /*url("/pics/myWork/salons/saloon_nirvetali1.jpg")*/
	  /*url("/pics/myWork/salons/saloon_nirvetali2.jpg")*/
	  /*url("/pics/myWork/salons/saloon_nirvetali3.jpg")*/
	  /*url("/pics/myWork/salons/saloon_nirvetali14.jpg")*/

	  /*url("/pics/myWork/shower/bathroom_liavelanuel.jpg")*/
	  /*url("/pics/myWork/shower/bathroom_yoavehagar.jpg")*/

	  /*url("/pics/myWork/sleep/beadroom-nirvetali.jpg")*/
	  /*url("/pics/myWork/sleep/beadroom_benvenoa.jpg")*/
	  /*url("/pics/myWork/sleep/beadroom_liavelanuel.jpg")*/
	  /*url("/pics/myWork/sleep/beadroom_moranvegal.jpg")*/

	           /*url("/pics/about/noa.jpg")*/
			   /*url("/pics/home/kitchen.jpg")*/
			   /*url("/pics/home/gameroom.jpg")*/
	           /*url("/pics/home/salon.jpg")*/
	           /*url("/pics/home/sleepingroom.jpg");*/



	           
	  /* partial fallback */
	  background-image: url("/pics/beforeAfter/benoa_bedroom.jpg");
	  visibility: hidden;
	  position: absolute;
	  left: -999em;
	  display: none;
	}
}
/*@font-face {
    font-family: 'Levavot';
    src: url('fonts/levavot.ttf');
}

@font-face {
    font-family: 'Miri';
    src: url('fonts/Miriwin.ttf');
}*/

.title {
	text-decoration: underline;
}
.pageTitel {
	text-align: center;
	text-decoration: underline;
}
.navbar-default {
	background-color: white;
}

.navbar-default .navbar-brand {
	padding: 0;
	margin:  0 10px;
}

/*.navbar-brand img{
	height: 58%;
}*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
    color: #FF69B4;
    font-family: 'OpenSans';
    padding: 30px;
    font-size: 9vw;
    text-align: center;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #FF69B4;
}


 * {
	box-sizing: border-box;
}

body {
	background-image: url("../pics/main_background_5.gif");
    /*padding-top: 12px;*/
    color: #FF69B4;
    font-family: 'OpenSans';
}

#whoAmIPic {
	float:left;
	width: 50%;
	border: 1px solid;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 20px;
}

.picsCarouselContainer {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.housePicContainer {
  width: 100%;
}

.carouselButton {
  /*height: 10%;*/
  align-self: center;
  cursor: pointer;
}
.thumbnailsWrapper {
  display: flex;
  width:100%;
  justify-content: space-around;
  align-items: center;
}

.thumbnailsWrapper img {
	cursor: pointer;
}

.thumbnailsWrapper img.active{
  border: 2px solid #FF69B4;
	cursor: default;
}
.picInCarousel {
  width: 80px;
  height: 80px;
  border: 2px solid white;
}

.aboutMainText {
	font-size: 4vw;
	font-weight: bold;
	background-color: #ffffff;
	padding: 15px;
}

.about-title {
	text-align: center;
	color: #fff;
	background-color: #FF69B4;
}

/*desktop */
@media only screen and (min-width: 760px) {
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a {
	    font-size: 2vw;
	}

	.aboutMainText {
		font-size: 2vw;
		font-weight: initial;
	}	
	#whoAmIPic {
		width: 10vw;
	}
}
#processListTitle {
	text-decoration: underline;
}

#processList {
	list-style: decimal;
}

.mainText {
	font-size: 16px;
	text-align: center;
	background-color: #ffffff;
	color: #FF69B4;
	padding: 15px;
	margin-bottom: 20px;
}


@media only screen and (min-width: 1100px) {
	.mainText {
		font-size: 22px;
		text-align: center;
		background-color: #ffffff;
		color: #FF69B4;
		padding: 15px;
		margin-bottom: 20px;
	}

	:root:before {
		content: url("/pics/home/1.jpg")
		url("/pics/home/2.jpg")
		url("/pics/home/3.jpg")
		url("/pics/home/4.jpg")
		url("/pics/home/5.jpg")
		url("/pics/home/6.jpg")
		url("/pics/beforeAfter/1.jpg")
		url("/pics/beforeAfter/2.jpg")
		url("/pics/beforeAfter/3.jpg")

		url("/pics/beforeAfter/4.jpg")
		url("/pics/beforeAfter/5.jpg")
		/*url("/pics/beforeAfter/6.jpg")*/
		/*url("/pics/beforeAfter/7.jpg")*/

		/*url("/pics/beforeAfter/8.jpg")*/
		/*url("/pics/beforeAfter/9.jpg")*/
		/*url("/pics/beforeAfter/10.jpg")*/
		/*url("/pics/beforeAfter/11.jpg")*/
		/*url("/pics/beforeAfter/12.jpg")*/
		/*url("/pics/beforeAfter/13.jpg")*/
		/*url("/pics/beforeAfter/sy1.jpg")*/
		/*url("/pics/beforeAfter/sy2.jpg")*/
		/*url("/pics/beforeAfter/sy3.jpg")*/

		/*url("/pics/myWork/kids/kids_afternoonspace.jpg")*/
		/*url("/pics/myWork/kids/kidsroom_alonveori.jpg")*/
		/*url("/pics/myWork/kids/kidsroom_amir.jpg")*/
		/*url("/pics/myWork/kids/kidsroom_maya.jpg")*/
		/*url("/pics/myWork/kids/kidsroom_playroom.jpg")*/
		/*url("/pics/myWork/kids/kidsroom_shira.jpg")*/
		/*url("/pics/myWork/kids/kidsroom_tamar.jpg")*/
		/*url("/pics/myWork/kids/kidsroom_yuvalvedaniel.jpg")*/

		/*url("/pics/myWork/kitchen/dining_benoa.jpg")*/
		/*url("/pics/myWork/kitchen/dining_liavedaniel1.jpg")*/
		/*url("/pics/myWork/kitchen/dining_liavedaniel2.jpg")*/
		/*url("/pics/myWork/kitchen/dining_liavedaniel3.jpg")*/
		/*url("/pics/myWork/kitchen/dining_nirvetali.jpg")*/
		/*url("/pics/myWork/kitchen/kitchen_benoa.jpg")*/

		/*url("/pics/myWork/office/office_talyanagar1.jpg")*/
		/*url("/pics/myWork/office/office_talyanagar2.jpg")*/
		/*url("/pics/myWork/office/office_talyanagar3.jpg")*/
		/*url("/pics/myWork/office/office_gilimedical.jpg")*/
		/*url("/pics/myWork/office/office_liavelanuel.jpg")*/

		/*url("/pics/myWork/salons/saloon_benoa.jpg")*/
		/*url("/pics/myWork/salons/saloon_benoa2.jpg")*/
		/*url("/pics/myWork/salons/saloon_liavelanuel1.jpg")*/
		/*url("/pics/myWork/salons/saloon_liavelanuel2.jpg")*/
		/*url("/pics/myWork/salons/saloon_moranvegal1.jpg")*/
		/*url("/pics/myWork/salons/saloon_moranvegal2.jpg")*/
		/*url("/pics/myWork/salons/saloon_moranvegal3.jpg")*/
		/*url("/pics/myWork/salons/saloon_nirvetali1.jpg")*/
		/*url("/pics/myWork/salons/saloon_nirvetali2.jpg")*/
		/*url("/pics/myWork/salons/saloon_nirvetali3.jpg")*/
		/*url("/pics/myWork/salons/saloon_nirvetali14.jpg")*/

		/*url("/pics/myWork/shower/bathroom_liavelanuel.jpg")*/
		/*url("/pics/myWork/shower/bathroom_yoavehagar.jpg")*/

		/*url("/pics/myWork/sleep/beadroom-nirvetali.jpg")*/
		/*url("/pics/myWork/sleep/beadroom_benvenoa.jpg")*/
		/*url("/pics/myWork/sleep/beadroom_liavelanuel.jpg")*/
		/*url("/pics/myWork/sleep/beadroom_moranvegal.jpg")*/

		/*url("/pics/about/noa.jpg")*/
		/*url("/pics/home/kitchen.jpg")*/
		/*url("/pics/home/gameroom.jpg")*/
		/*url("/pics/home/salon.jpg")*/
		/*url("/pics/home/sleepingroom.jpg");*/


	           
	  /* partial fallback */
	  background-image: url("/pics/beforeAfter/benoa_bedroom.jpg");
	  visibility: hidden;
	  position: absolute;
	  left: -999em;
	  display: none;
	}

	.picInCarousel {
	  width: 200px;
	  height: 200px;
	}


	.navbar-brand img {
	    height: 90%;
	    display: inline;
	    width: auto;
	    position: relative;
	    top: 13px;
	    margin-left:44px;
	}

	nav.main {
		border-top: 2px solid;
	}
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FF55AA;
}
.navbar-default .navbar-nav > li {
	border-left:2px solid #FF69B4;
}


.bold {
	font-weight: bold;
}

.visible-xs-inline {
    display: inline-block; !important
}

nav.main {
	background-color:white;
	border-bottom: 2px solid;
}

.navbar-brand, .navbar > .container-fluid .navbar-brand {
	/*background-image: url("../pics/logo.jpg");
	background-size: contain;
	min-height: 15vh;*/
	padding:0;
	height: 12vh;
	max-height: 80px;
	min-height: 50px;
	width:auto;
    background-color: white;
    margin-right:0;
}



.logo-container {
	margin: 0;
	background-color: white;
	position: relative;
}
.logopic {
    max-height: 100%;
    margin: auto;
    width: auto;
}

.profile {
	position:absolute;
	background-color: #FF69B4;
	height:2%;
	bottom:0;
	width:100%;
}

.levavot {
	font-family: 'Levavot';
	color: red;
}
.picsContainer {
	height: 35vh;
	width:90%;
	margin: auto;
	margin-bottom: 10px;
}
.picsContainer img {
    display: none;
    margin-bottom: 3vh;
}

h2 {
	font-size: 21px;
}



/* For desktop: */
@media only screen and (min-width: 768px) {
   
	body {
		/*padding-top: 40px;*/
		padding-top:0;
		/*font-size:2vw;*/
	}

	h2 {
		font-size: 30px;
	}
	
	.visible-xs-inline {
        display: none; !important
    }

    #whoAmIPic {
    	width: 17vw;
		margin-right: 30px;
		border: none;
		box-shadow: 2px 2px 5px #888888;
		border-radius: 7px;
		margin-bottom: 7px;
    }

	.picsContainer {
		/*height: 80vh;*/
		margin-top:10vh;	
		margin-right: -11%;	
/*		position: relative;
		top: 50%;
		transform: translateY(50%);*/
	}

	#bs-example-navbar-collapse-1 > ul li:last-child {
		border-left:none;
	}

	/*.container > .navbar-header {
		margin-left:10%;
	}*/
	.picsContainer img {
    	max-width: 40vw;
	}

	.children{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.logo {
		height: 20vh;
    	background-color: white;
	}

	.logopic{
		margin-right:-18%;
		height:100%;
	}

	.picsWrapper {
	  display: flex; /* or inline-flex */
	  flex-direction: row;
	  align-items: stretch;
	  justify-content: center;
	  justify-content: space-between;
	  width: 100%;
	  position: relative;
	}

	.picWrapper {
		border: 2px solid #FF69B4;
		margin-bottom: 10px;
	  	/*flex-grow: 1;  default 0 */
	  	width:35%;
	  	max-width: 50%;
	  	position: relative;
	  	display: flex;
	  	align-items: center;
	  	justify-content: space-around;
	  	margin-bottom: 10vh;
	  	text-overflow: ellipsis;
	  	flex-direction: column;
	  	
	}

	.picWrapper img{
		width:75%;
	}
}

/*@media only screen and (min-width: 1664px) {
	.container > .navbar-header {
		margin-left:9%;
	}
}*/




