/* For mobile phones: */
/*[class*="col-"] {
    width: 100%;
}*/
/*@font-face {
    font-family: 'Levavot';
    src: url('fonts/levavot.ttf');
}

@font-face {
    font-family: 'Miri';
    src: url('fonts/Miriwin.ttf');
}*/

 * {
		box-sizing: border-box;
}
body {
	background-image: url("../pics/main_background_3.jpg");
    padding-top: 12px;
    color: #FF69B4;
    font-family: 'OpenSans';
	font-size: 4.5vw;
}

.logo {
	/*background-image: url("../pics/logo.jpg");
	background-size: contain;
	min-height: 15vh;*/
	padding:0;
	height: 12vh;
    background-color: white
}

.logopic {
    max-height: 100%;
    margin: auto;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/open-sans/opensanshebrew-light-webfont.ttf');
}
.construction-text{
	
}
.logo-container {
	margin: 0;
}
.levavot {
	font-family: 'Levavot';
	color: red;
}
.picsContainer {
	height: 35vh;
	width:90%;
	margin: auto;
	margin-bottom: 50px;
}
.picsContainer img {
    display: none;
}

h2 {
	font-size: 21px;
}
/* For desktop: */
@media only screen and (min-width: 768px) {
   
	body {
		padding-top: 40px;
		font-size:2vw;
	}

	h2 {
		font-size: 30px;
	}
	

	.picsContainer {
		height: 80vh;
		margin-top:10vh;		
/*		position: relative;
		top: 50%;
		transform: translateY(50%);*/
	}

	.picsContainer img {
    	max-width: 40vw;
	}

	.children{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.logo {
		height: auto;
    	background-color: white;
	}
	
}
/*@keyframes slidy {
0% { right: 0%; }
20% { right: 0%; }
25% { right: -100%; }
45% { right: -100%; }
50% { right: -200%; }
70% { right: -200%; }
75% { right: -300%; }
100% { right: -300%; }
}
 
div#slider { overflow: hidden;}
div#slider figure img { width: 25%; float: left; }
div#slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  max-height: 85vh;
  animation: 20s slidy infinite; 
}*/



/*#mycarousel {
	margin-bottom:10vh;
}
.carousel-inner {
	padding-left:10vw;
	padding-right: 10vw;

}

.carousel-inner .item {
	height: 85vh;
	width: 50vh;
	margin: auto;
}

.carousel-inner .item > img {
	display: block;
    max-height: 300px;
    height:100%;
    width: auto;
}*/


