<div class="aboutMainText">
	<img id="whoAmIPic" src="pics/about/noa.jpg" />
	<p>
	אני נועה דבש, בת 36, נשואה +3,  מעצבת, בעלת תואר ראשון משנקר (B.Des) במחלקה
	לעיצוב טקסטיל ופנים (כן, היה פעם שילוב מהמם כזה) והעבודה שלי הכי כייפית –  <br/>
	Home Styling, להכניס Look & feel למקום. <br/>
	פירוש ותרגום מפלצנית: יצירת מראה ואווירה בחלל קיים, באמצעות צבעוניות, חיפויים, ריהוט, טקסטיל, אבזור וכיו"ב, תוך התייחסות למשתמשים (מהות, פונקציונליות, אופי, טעם אישי, תקציב). <br/>
	</p>
	<p>
	אף פעם לא ממש ידעתי מה אהיה כשאגדל אבל מאז שהיה לי חדר משלי, הרגשתי שאני הכי נהנית מלפנטז לתכנן (ולבצע)  איך הוא יראה!  <br/>
	ההנאה הלכה וגברה ככל ששיתפתי חברים ומכרים, שעם הגיל,  גם הם עברו לחדר ובהמשך, גם לבית משלהם והזמינו אותי, להפוך אותו לבית החלומות שלהם. בדרך עשיתי את התואר בשנקר, עבדתי בעיצוב חלונות ראווה ומיצוב חנויות, עסקתי בקניינות בחברה המייבאת טקסטיל לאופנה, עוזרת קניינית במחלקת כלי בית ואביזרי אופנה, בחברה מסחרית גדולה. <br/>
	אני ממשיכה לשמוח ולשמח חברים ובתים. <br/>
	</p>
	<p>
	אז כל עוד יש לי את ההתלהבות הזו מלדמיין, לתכנן, להמציא, לחפש, לבדוק, להשוות, לראות, לצבוע, להדביק, לתלות, לסדר לארגן וכמובן לראות בסוף את הכל יחד - אני ממשיכה לשתף בהנאה הזו של היצירה. <br/><br/>

		<span id="processListTitle">מזמינה להשתתף בתהליך פשוט וכייפי:</span>
		<ul id="processList">
			<li>נפגשים. מגדירים מה רוצים.</li>
			<li>אני מכינה "לוח השראה" ותכנית לביצוע (שוב סליחה על הפלצנות אבל לא מצאתי מושג חלופי לקולאז' הזה שמתאר אווירה בצבעוניות, קווים, חומר, קצב וכולי).</li>
			<li>נפגשים שוב. אני מסבירה את לוח ההשראה  והתכנית שמותאמת לתקציב שהגדרנו. מוודאים שאנחנו באותו הכוון. אם צריך מחדדים אותו.</li>
			<li>יוצאים לדרך! בוחרים, קונים, צובעים, ממקמים, מתקינים, תולים, מדביקים, מסדרים, מחייכים ומצטלמים :)</li>
		</ul>
	</p>
</div>