<p>
אני נועה דבש, מעצבת, בוגרת שנקר (B.Des) והעבודה שלי הכי כייפית: <br/>
Home Styling, להכניס Look & feel למקום.<br/>

פירוש ותרגום משפה פלצנית: יצירת מראה ואווירה בחלל (ע"י צבעוניות, ריהוט, טקסטיל, אבזור וכיו"ב) תוך התייחסות למשתמשים (מהות, פונקציונליות, אופי, טעם אישי, תקציב). <br/>

התהליך פשוט וכייפי:<br/>
	<ul>
		<li>נפגשים. מגדירים מה רוצים  (500 ₪).</li>
		<li>אני מכינה "לוח השראה" ותכנית לביצוע (שוב סליחה על הפלצנות אבל לא מצאתי מושג חלופי לקולאז' הזה שמתאר אווירה בצבעוניות, קווים, חומר, קצב וכולי).</li>
		<li>נפגשים שוב. אני מסבירה את הלוח והתכנית. מוודאים שאנחנו באותו הכוון. אם צריך מחדדים אותו. (500 ₪)</li>
		<li>יוצאים לדרך! בוחרים, קונים, צובעים, ממקמים, מתקינים, תולים, מדביקים, מסדרים, מחייכים ומצטלמים :) (500 ₪)</li>
	</ul>
</p>