<div class="row row-content">
	<section id="homeMain" class="col-xs-12 col-md-7">
	  <h2 class="title">חדש ומתוק מדבש</h2>
	  <p class="construction-text">
	  <span class="bold">עיצוב חדרי תינוקות במחיר השקה. </span><br/>
	  מצפים לבייבי?<br/>
	  צריכים לארגן ולעצב מחדש?<br/>
	  רוצים להפתיע יולדת עם מתנה שהיא באמת צריכה?<br/>
	  עיצוב חדר חלומי בהתאמה אישית, לצורך, לסגנון ולתקציב.<br/>
	  <span class="">עכשיו במחיר מתוק...</span><br/>
	  <span class="bold">נועה דבש <a href="tel:+972522611733"><i class="fa fa-phone-square visible-xs-inline" aria-hidden="true"></i></a>&nbsp;052-2611733 </span><br/>
	  <a href="#/contact">להשארת פרטים</a>
	  </p>
	</section>

	<div class="col-xs-12 col-md-5">
	  <div class="switchingPicsContainer" pic-switcher pics="pics" fade-time="1500" time-for-pic="3000">
	  </div>
	</div>
</div>
