<h2 class="pageTitel animated zoomIn">העבודות שלי</h2>
<div class="housesLinksContainer">
	<a ng-repeat="house in houses" href="#/mywork" ng-click="setActiveHouse($index)" ng-class="{active: isActiveHouse($index)}">{{house.title}}</a>
</div>
<section id="houses">
	<div>
		<article class="house">
			<header class="houseHeader textWrapper" id="{{activeHouse.title}}">
				<h3> {{activeHouse.title}}</h3>
				<p show-more text="activeHouse.general"></p>
			</header>
			<slick ng-repeat="pic in activeHouse.pics">
				<!-- <section class="selectedPicWrapper"> -->
					<div class="textWrapper">
						<h3>{{pic.headline}}</h3>
						<p ng-bind-html="pic.description" > </p>
					</div>
					<img ng-src="{{pic.thumbUrl}}" alt="{{activeHouse.activePic.headline}}"/>
				<!-- </section> -->
			</slick>
		</article>
	</div>
</section>