<div class="housesLinksContainer">
	<a ng-repeat="house in houses" href="#/mywork" ng-click="setActiveHouse($index)" ng-class="{active: isActiveHouse($index)}">{{house.title}}</a>
</div>
<section id="houses">
	<div>
		<article class="house">
			<header class="houseHeader textWrapper" id="{{activeHouse.title}}">
				<h3> {{activeHouse.title}}</h3>
				<!--<p show-more text="activeHouse.general"></p>-->
			</header>
			<section class="houseThumbnails" ng-if="activeHouse.pics.length > 1">
				<div pics-carousel  pics="activeHouse.pics" options="options" class="housePicContainer"></div>
			</section>
			<section big-pic-with-text pic-obj="activeHouse.pics[0]" ng-if="activeHouse.pics.length === 1">
			</section>
		</article>
	</div>
</section>